/* Sass variables */

$main-color: #0000ff;

/* Typography */

body {
  font: 75%/170% Helvetica, Arial, sans-serif;
  color: #000;
}

h1!, h2!, h3! {}

p {
  margin-bottom: 15px;
}

ul {
  margin-left: 15px;
}

a {
	color: $main-color;
  text-decoration: none;
  &:active {
    text-decoration: underline;
  }
}

textarea {
  font: 100% Helvetica, Arial, sans-serif;
}

.superscript {
  font-size: 80%;
  position: relative;
  top: -3px;
  left: 1px;
}

.margin-reset {
  margin: 0 !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.center {
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

/* Layout */

div[role="main"] {

	div {
		border: 1px solid #ccc;
	}
}